<ion-header>
  <ion-navbar>
    <ion-title>
      Wikitude Hello World
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  This is an example-application demonstrating Wikitude in SiMPL. Press the "Start" button to open the AR view.
  <button ion-button block (click)="startWikitudeAR()">Start</button>
</ion-content>
